* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

#product-overview {
  background: #ee615c;
  width: 100%;
  height: 528px;
  padding: 10px;
}

#product-overview h1 {
  color: #f5f5f5;
}

.section-title {
  color: #048600;
}


/*  Header */
.main-header {
  background: #048600;
  width: 100%;
  padding: 5px;
  color: #f5f5f5;
}